body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1{
    margin-top: 50px !important;
    background-color: aliceblue;
    padding:10px;
    border-radius: 5px;
    font-weight: bolder;
}
img{
    height:500px !important;
    border-radius: 5px;
}