body{
    background-image: linear-gradient(-225deg, #7742B2 0%, #F180FF 52%, #FD8BD9 100%) !important;
}
.col-md-5{
    margin-top: 150px;
    padding: 20px !important;
}
input{
    margin-top: 15px !important;
}
button{
    margin-top: 20px !important;
}

.success{
    border:  3px solid green !important;
}
.error{
    border: 3px solid red !important;
}
small{
    color : red;
    font-weight: bolder;
    margin: 5px;
}